html, body {
	align : center;
	width:98%;
	height:98%;
	margin:0px;
	padding:0px;
	background: black;
}

.container{
	width: 1015px;
	margin:5px;
	padding:2px;
}

#table-container{
	width: 1015px;
	height: 250px;
	margin-top: 0px;
}

#stater{
	font-size: 25px;
   line-height: 20px;
   font-weight : bold;
   font-family: FF DIN;
   color       : yellow;
   text-shadow: 0 0 2px #fff,
         0 0 20px #fff,
         0 0 30px #fff,
         0 0 40px #ff8000,
         0 0 70px #ff8000,
         0 0 90px #ff8000,
         0 0 130px #ff8000,
         0 0 180px #ff8000;
}


#subtitle{
	font-weight: bold;
   font-family: FF DIN;
   color: #FE9A2E;
   margin:5px;
   padding:2px;
   font-size:25px;
}


.label1{
   text-align: left;
   margin:5px;
   padding:2px;
   color: white;
   font-size:1.20em;
   font-weight : bold;
}

.label2{
   text-align:center;
   margin:5px;
   padding:2px;
   color: #FAAC58;
   font-size:1.20em;
   font-weight : bold;
}

#rxMsg{
	width: 100%;
   align: center;
   margin-top: 5px;
   text-align: left;
   color: black;
}

.tbButton{
	positon:center;
	margin:0px;
	padding:0px;
}

.tbButton2{
/*	width:100%; */
	positon:center;
	margin:20px;
	padding:10px;
}

.csGauge{
   position: relative;
	margin:1px;
	matgin-top: 2px;
	font-size: 25px;
	line-height: 20px;
	font-weight: bold;
	font-family: FF DIN;

	border-radius : 5px;
	background-color: #FFF;
 	text-align:center;

	color: white;
	background:#555;
	margin:1px;
	padding:5px;
	border-radius : 5px;
}

#rGauge2{
	margin-left: 0px;
}


#canvas_box{
	width: 1015px;
	height: 300px;
	margin-top: 0px;
}

#oscope{
	width: 900px;
	height: 280px;
}

#btnBox{
	float: left;
	margin-top: 0px;
}
#btnStart{
	position: relative;
	width: 110px;
	height: 45px;
	margin-top: -550px;
	margin-left: 902px;
	background: #DF7401;
}

#btnStop{
	position: relative;
	width: 110px;
	height: 45px;
	margin-top: -500px;
	margin-left: 902px;
	background: #FE9A2E;
}

#btnStart1{
	position: relative;
	width: 110px;
	height: 45px;
	margin-top: -450px;
	margin-left: 902px;
	background: #DF7401;
}

#btnStop1{
	position: relative;
	width: 110px;
	height: 45px;
	margin-top: -400px;
	margin-left: 902px;
	background: #FE9A2E;
}

#btnRestart{
	position: relative;
	width: 110px;
	height: 45px;
	margin-top: -350px;
	margin-left: 902px;
	background: #DF7401;
}

#btnNoVac{
	position: relative;
	width: 110px;
	height: 45px;
	margin-top: -300px;
	margin-left: 902px;
	background: #FE9A2E;
}

.gaugeBox{
	position: relative;
	margin-top: 15px;
}
