html, body {
	align : center;
	width:98%;
	height:98%;
	margin:0px;
	padding:0px;
	background: black;
}

.container{
	width: 1020px;
	margin:5px;
	padding:2px;
}

#table-container{
	margin-left: 0px;
	width: 1015px;
}

.title1{
	width:auto;
	margin: 30px;
	text-align:center;
	font-size: 25px;
	line-height: 20px;
	font-wieght : bold;
	font-family: FF DIN;
	color			: yellow;
}

.title2{
	width:100px;
	text-align:center;
	font-size: 25px;
	line-height: 20px;
	font-wieght : bold;
	font-family: FF DIN;
	color			: yellow;
}

.tbStyle1{
	width:100%;
	text-align:center;
	color: white;
	margin:5px;
	padding:2px;
/*	
	border : 2px solid white;
	background: green; 
	font-size:1.20em;
	font-wieght : bold;
*/
}

.tbStyle2{
	text-align:center;
	color: white;
	margin:2px;
	padding:1px;
	border : 2px solid white;
/*	
	width:98%;
	background: green; 
	font-size:1.20em;
	font-wieght : bold;
*/
}
#subtitle{
	margin-left: 10px;
	font-wieght : bold;
	font-family: FF DIN;
	color			: red;
}

.label1{
	text-align:center;
	margin:5px;
	padding:2px;
	color: white;
	font-size:1.20em;
	font-wieght : bold;
}

.label2{
	text-align:center;
	margin:5px;
	padding:2px;
	color: white;
	font-size:1.20em;
	font-wieght : bold;
	background: green;
}

.tbButton{
	width:100%;
	positon:center;
	margin:0px;
	padding:0px;
}

.tbButton2{
/*	width:100%; */
	positon:center;
	margin:20px;
	padding:10px;
}

.csGauge{
   position: relative;
	margin:1px;
	matgin-top: 2px;
	font-size: 25px;
	line-height: 20px;
	font-weight: bold;
	font-family: FF DIN;

	border-radius : 5px;
	background-color: #FFF;
 	text-align:center;

	color: white;
	background:#555;
	margin:1px;
	padding:5px;
	border-radius : 5px;
}

#rGauge2{
	margin-left: 0px;
}


#rxMsg{
	align: center;
   width: 900px;
   height: 80px;
   margin-top: 5px;
   text-align: left;
	color: white;
   border: 1px solid white;
	background: red;
}

#canvas_box{
	margin-top: 30px;
}

#btnBox{
	margin-top: 0px;
}
#btnStart{
	position: relative;
	width: 110px;
	height: 45px;
	margin-top: -395px;
	margin-left: 905px;
}

#btnStop{
	position: relative;
	width: 110px;
	height: 45px;
	margin-top: -335px;
	margin-left: 905px;
}

#btnRestart{
	position: relative;
	width: 110px;
	height: 45px;
	margin-top: -275px;
	margin-left: 905px;
}

#btnNoVac{
	position: relative;
	width: 110px;
	height: 45px;
	margin-top: -215px;
	margin-left: 905px;
}

.gaugeBox{
	position: relative;
	margin-top: -70px;
}
